@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: black;
}

.ui-menu-color-home {
    background-color: #e67e22;
}
.ui-menu-color-bookings {
    background-color: #4dc236;
}
.ui-menu-color-queries {
    background-color: #af6caf;
}
.ui-menu-color-menu {
    background-color: #363131;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../css/assets/images/atmosphere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Tagesschrift", sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin-top: 50px;
    color: rgb(192, 160, 120);
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}
.row {
--bs-gutter-x: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 182px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #ecdddd;
    font-size: 50px
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

/* ------------------------------------------ Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}